@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');

/* Custom Styles */
.skill-item,
.project-item {
    transition: transform 0.3s ease-in-out;
}

.skill-item:hover,
.project-item:hover {
    transform: scale(2.05);
}

.timeline-item {
    position: relative;
    padding-left: 2rem;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: #1f2937;
}

.timeline-icon {
    position: absolute;
    left: -2rem;
}